<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Tribute Page</title>
</head>
<body>
    <main id="main">
    <h1 id="title">Desmond Doss's Tribute Page</h1>
    <div id="img-div">
        <img id="image" src="https://upload.wikimedia.org/wikipedia/commons/7/71/DossDesmondT_USArmy.jpg">
        <figcaption  id="image-caption">Desmond T. Doss (1919-2006), Medal of Honor recipient for his actions as an U.S. Army medic during World War II.</figcaption>
    </div>
    <section id="tribute-info">
        <h3 id="headline">Here's a time line of Medal of Honor recipient Desmond Doss life:</h3>
        <ul id="list">
          <li><strong>1919</strong> - Born in Lynchburg, Virginia, to William Thomas Doss (1893–1989), 
            a carpenter, and Bertha Edward Doss (née Oliver) (1899–1983), a homemaker and shoe factory worker.</li>
          <li>
            <strong>1942</strong> -  on April 1, 1942, at Camp Lee, Virginia. 
            He was sent to Fort Jackson in South Carolina for training with the reactivated 77th Infantry Division.
            Doss refused to carry a weapon into combat because of his personal beliefs as a Seventh-day Adventist against killing.
            He consequently became a medic assigned to the 2nd Platoon, Company B, 1st Battalion, 307th Infantry, 77th Infantry Division.
          </li>
          <li>
            <strong>1944</strong> - While serving with his platoon in 1944 in Guam and the Philippines, 
            he was awarded two Bronze Star Medals with a "V" device,[13] 
            for exceptional valor in aiding wounded soldiers under fire. During the Battle of Okinawa, 
            he saved the lives of 50–100 wounded infantrymen atop the area known by the 96th Division as 
            the Maeda Escarpment or Hacksaw Ridge.
          </li>
          <li>
            <strong>1945</strong> -  Doss was wounded four times in Okinawa, and was evacuated on May 21, 1945, 
            aboard the USS Mercy.[16] Doss suffered a left arm fracture from a sniper's bullet while being carried back 
            to Allied lines and at one point had seventeen pieces of shrapnel embedded in his body 
            after attempting to kick a grenade away from himself and his comrades.
          </li>
          <li>
            <strong>October 12, 1945</strong> Desmond Doss received the Medal of Honor on October 12, 1945. 
            The award was presented to him by President Harry S. Truman at a ceremony held in the White House. 
            Doss was recognized for his extraordinary bravery and heroism as a conscientious objector during World War II, 
            specifically for his actions during the Battle of Okinawa.
          </li>
          <li>
            <strong>January 10, 1946</strong>  After his service in World War II, he was honorably discharged from the U.S. Army.
          </li>
          <li>
            <strong>1946</strong> In 1946, he was diagnosed with tuberculosis, contracted on Leyte.
            He underwent treatment for five and a half years — losing a lung and five ribs — 
            before being discharged from the hospital in August 1951 with 90% disability
          </li>
          <li>
            <strong>1976</strong> After an overdose of antibiotics rendered him completely deaf in 1976, 
            he was given 100% disability;
          </li>
          <li>
            <strong>1988</strong> he was able to regain his hearing after receiving a cochlear implant in 1988.
          </li>
          <li>
            <strong>2006</strong> After being hospitalized for difficulty breathing, Doss died on March 23, 2006, 
            at his home in Piedmont, Alabama. 
            He was buried on April 3, 2006, in the Chattanooga National Cemetery, Tennessee.
          </li>
        </ul>
    </section>
    <h3 id="tribute-page-link">You can learn more about this great man
    <a id="tribute-page-link" href="https://en.wikipedia.org/wiki/Desmond_Doss" target="_blank">here</a>.
        </h3>

</main>
</body>
</html>